

<div id="graphButtons">
    <button class="button button-lg timePeriodButton" value="1y" id="oneYear">1 year</button>
    <button class="button button-lg timePeriodButton" value="3m" id="threeMonths">3 months</button>
    <button class="button button-lg timePeriodButton" value="1m" id="oneMonth">1 month</button>
    <button class="button button-lg timePeriodButton" value="1w" id="oneWeek">1 week</button>
</div>
<div id="graph">
    <div id="stepsGraph"></div>
    <div id="floorsGraph"></div>
    <div id="weightGraph"></div>
    <div id="bmiGraph"></div>
</div>