<div id="graph">
    <div id="stepsGraph" class="graph"></div>
    <div id="floorsGraph" class="graph"></div>
    <div id="weightGraph" class="graph"></div>
    <div id="bmiGraph" class="graph"></div>
</div>