#formulaire .labelForm{
    margin-left:15%;
    margin-top: 1%;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    color: #7cb5ec;
}

#formulaire .inputForm{
    margin-left:5%;
    margin-top: 1%;
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
}

.remember{
    margin-left: 15%;
    margin-top: 1%;
}

#remember_me{
    margin-left: 2%;
    margin-top: 1%;
    height: 20px;
    width: 20px;
}

.login{
    margin-left: 15%;
    margin-top: 1%;
    border-radius: 50px;
    height: 30px;
    width: 200px;
    font-family: 'Fjalla One', sans-serif;
}

#register{
    margin-left: 15%;
    margin-top: 1%;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    color: #7cb5ec;
}

.control-label{
    margin-left:15%;
    margin-top: 1%;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    color: #7cb5ec;
    display:flex;
    flex-flow: column nowrap;
}

.registre{
    margin-left: 20%;
    margin-top: 3%;
    border-radius: 50px;
    height: 30px;
    width: 200px;
    font-family: 'Fjalla One', sans-serif;
}

.form-control{
    margin-left: 20%;
    margin-top: 1%;
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
}
