body {
    width:100%;
    padding: 0;
    margin:0;
    font-family: 'Fjalla One', sans-serif !important;

}
.top, .bottom {
    height: 5vh;
    position: fixed;
    left:0;
    width: 100%;
    vertical-align: middle;
    text-decoration: none !important;
    font-weight: bolder;
    font-size: 1.2em;
    padding-top: 0;
}
.top a, .bottom a{
    text-decoration: none;
    color: #0088CC;
}

.bottom{
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
}
.top{
    top:0;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: white;
}
.bottom .halfBanner {
    width: 50%;
    border: 1px outset darkgray;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    float: left;
    height: 5vh;
    padding: 1vh;
}
.top .banner {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    font-size: 1em;
    float: left;
    height: 5vh;
}

#circles {
    height: 45vh;
    position: static;
    top:0;
    left:0;
    font-size: 1em;
    border-bottom: 2px solid #218BC3;
    box-sizing: border-box;
    margin-top:-5vh;
}

#graphs {
    height: 50vh;
    overflow: scroll;
    font-size: 1em;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(50vh);
}

#graph {
}
.active {
    background-color: #7cb5ec !important;
    border: 1px inset darkgray !important;
}
.active a {
    color: white !important;
}
#content {
    padding-top:5vh;
}

.highcharts-container text:nth-child(15) {
    display:none;
}
#graphButtons {
    display: flex;
    flex-flow:row nowrap;
    position: fixed;
    margin-bottom: 5vh;
    height: 5vh;
    bottom:0;
    left:0;
    line-height: 5vh;
    width: 100%;
}
.logoutButton{
    box-sizing: border-box;
    width: 100px;
    background: none;
    background-color:white;
    border-left: 1px solid black;
    height: 4vh;
    margin-top: 0.5vh;
}

#graphButtons button {
    box-sizing: border-box;
    width: 25%;
    background: none;
    background-color:white;
    border: 1px outset darkgray;
}

#username {
    float: left;
    margin-left:10px;
}
#logout {
    position: fixed;
    top: 0;
    right: 5px;
    height:5vh;
}

.control-label{
    font-size: 40px;
    margin-left: 2%;
}

.form-control{
    height: 35px !important;
    width: 300px;
    font-size: 30px;
    text-align: center;
    border-radius: 50px;
    margin-left: 2%;
}

#objectif{
    font-size: 40px !important;

}
#objectifContainer{
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#objectives_Update{
    height: 30px;
    text-align: center;
    width: 100px;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 50px;
}
